{% extends 'base.html.twig' %}

{% block title %}Dashboard | YOBS{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}

<main class="flex-shrink-0 my-5">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tableau de bord</h1>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="{{ path('app_classe_liste') }}" class="text-decoration-none">
                    <div class="card border-0 border-start border-success border-4 shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Classes</div>
                                    <div class="h6 mb-0 font-weight-bold text-gray-800">Liste des Classes</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <a href="{{ path('app_eleve') }}" class="text-decoration-none">
                    <div class="card border-0 border-start border-danger border-4 shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Élèves</div>
                                    <div class="h6 mb-0 font-weight-bold text-gray-800">AJOUTER UN ÉLÈVE</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <a href="{{ path('app_eleve_liste') }}" class="text-decoration-none">
                    <div class="card border-0 border-start border-info border-4 shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Consultation</div>
                                    <div class="h6 mb-0 font-weight-bold text-gray-800">LISTE ÉLÈVES</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <a href="{{ path('app_download') }}" class="text-decoration-none">
                    <div class="card border-0 border-start border-warning border-4 shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Export</div>
                                    <div class="h6 mb-0 font-weight-bold text-gray-800">TÉLÉCHARGER LISTE</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-file-download fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>

{% include "footer.html.twig" %}

{% endblock %}